.navbar {
    background-image: linear-gradient(to bottom right, #080228, rgb(5, 72, 74));
    border-bottom: 5px solid rgb(10, 156, 160);
}

.navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
}

.navbar-brand{
    font-weight: bolder;
}

li a {
    background-color: rgb(5, 72, 74);
    border: 1px solid rgb(2, 150, 155);
}

li a:hover {
    background-color: rgb(2, 150, 155);
    border: 1px solid white;
    border-radius: 5px;
}

.main {
    background-color: rgb(8, 2, 41);
}

.moral_1 {
    background-image: url(../images/moral_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid cornflowerblue;
}

.moral_2 {
    background-image: url(../images/moral_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 2px solid cornflowerblue;
}

.moral_3 {
    background-image: url(../images/moral_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
}

hr {
    border-top: 2px solid rgb(10, 156, 160);
}

.moral_4 {
    background-image: url(../images/moral_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
    opacity: 80%;;
}

.color {
    color: rgb(10, 156, 160);
}

.button{
    background-color: rgb(10, 156, 160);
}

.border {
    border: 2px solid rgb(10, 156, 160)! important;
    border-radius: 5px;
}

.border:hover {
    border: 2px solid rgb(10, 156, 160)! important;
    border-radius: 5px;
    color: white;
    background-color: teal;
}

textarea {
    min-height: 150px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.footer-wrapper {
    background-color: black;
    padding: 36px 0 10px 0;
    color: whitesmoke;
}

.social-icon {
    font-size: 25px;
    margin-bottom: 48px;
    cursor: pointer;
}