/* Smooth Scrolling Effect
========================== */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

.navbar {
    background-image: linear-gradient(to bottom right, #080228, rgb(5, 72, 74));
    border-bottom: 5px solid rgb(10, 156, 160);
}

.navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
}

.navbar-brand{
    font-weight: bolder;
}

li a {
    background-color: rgb(5, 72, 74);
    border: 1px solid rgb(2, 150, 155);
}

li a:hover {
    background-color: rgb(2, 150, 155);
    border: 1px solid white;
    border-radius: 5px;
}

.main {
    background-color: rgb(8, 2, 41);
}

.moral_1 {
    background-image: url(../images/moral_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid cornflowerblue;
}

.collapse{
    padding: 20px;
}

.accordion .card{
    border: none;
    border-radius: 0;
    margin: 0 0 12px 50px;
    position: relative;
}

.accordion .card:before{
    content: "";
    width: 2px;
    height: 100%;
    background: rgb(5, 72, 74);
    position: absolute;
    top: 0;
    left: -2px;
}

.accordion .card-header{
    padding: 0;
    background: #fff;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.accordion .card-header:before{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: rgb(10, 156, 160);
    border: none;
    position: absolute;
    top: 50%;
    left: -48px;
    transform: translateY(-50%);
}

.accordion .mb-0{
	padding: 0px;
}

.accordion .mb-0 button{
    display: block;
    font-weight: 600;
    color: #550527;
    border: none;
    margin: 0;
}

.accordion .mb-0 button:before, 
.accordion .mb-0 button.collapsed:before{
    content: "\2212";
    width: 30px;
    height: 30px;
    line-height: 22px;
    border-radius: 50%;
    font-size: 25px;
    color: rgb(5, 69, 71);
    text-align: center;
    border: 2px solid rgb(2, 150, 155);
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
}

.accordion .mb-0 button.collapsed:before{ 
    content: "\002B"; 
    font-weight: bold;
}

.accordion .card-body{
    padding: 10px 30px 10px;
    border: none;
    font-size: 14px;
    line-height: 28px;
}

.card{
    border: none;
}

.accordion-item[aria-expanded=true]{
    color: green;
    text-decoration: none;
}

.accordion-desc{
    -webkit-box-shadow: 0 9px 30px -5px rgba(50,50,83,.25), 0 8px 8px -12px rgba(0,0,0,.2), 0 -6px 16px -6px rgba(0,0,0,.025);
    box-shadow: 0 9px 30px -5px rgba(50,50,83,.25), 0 8px 8px -12px rgba(0,0,0,.2), 0 -6px 16px -6px rgba(0,0,0,.025);
    border-radius: 11PX;
    padding: 3.6em;
    text-align: justify;
    background-color: rgb(189, 240, 245);
    margin: 1.25em 0 3em 0;
}

.p_service {
    font-size: 20px;

}

.moral_2 {
    background-image: url(../images/moral_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 2px solid cornflowerblue;
}

.moral_3 {
    background-image: url(../images/moral_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
}

hr {
    border-top: 2px solid rgb(10, 156, 160);
}

.moral_4 {
    background-image: url(../images/moral_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
    opacity: 95%;
}

.color {
    color: rgb(10, 156, 160);
}

.button{
    background-color: rgb(10, 156, 160);
}

.border {
    border: 2px dotted rgb(10, 156, 160)! important;
    border-radius: 5px;
}

.border:hover {
    border: 2px solid rgb(10, 156, 160)! important;
    border-radius: 5px;
    color: white;
    background-color: teal;
}

textarea {
    min-height: 150px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.row-position {
    margin-right: 40px;
    margin-left: 40px;
}

.footer-wrapper {
    background-color: black;
    padding: 36px 0 10px 0;
    color: whitesmoke;
}

.social-icon {
    font-size: 25px;
    margin-bottom: 48px;
    cursor: pointer;
}


/* Home Button */
.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 1.8em;
    right: 1.8em;
}